@model Justin.Homepage.Models.Article

@{ ViewBag.Title = "article-n"; }

@section styles{
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
}
@section scripts{
    <script src="//cdn.ckeditor.com/4.5.8/full-all/ckeditor.js"></script>
}

<style type="text/css">
    form{ text-align: center; margin-top: 50px; }
</style>
<form action="@Url.RouteUrl("new-article")"
      method="post" onSubmit="return submit(this);" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-2">
            <input name="Title" value="@Model.Title" class="form-control" type="text" placeholder="标题">
        </div>
        <div class="col-sm-5">
            <input name="ImageUrl" value="@Model.ImageUrl" class="form-control" type="text" placeholder="图片链接">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-sm-8 col-sm-offset-2">
            <input name="KeyWords" value="@Model.KeyWords" class="form-control" type="text" placeholder="关键词">
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-sm-8 col-sm-offset-2">
            <textarea name="Abstract" class="form-control" rows="2" placeholder="摘要">@Model.Abstract</textarea>
        </div>
    </div>
    <textarea name="Html" id="editor">@Model.Html</textarea>
    <div class="col-sm-2 col-sm-offset-10">
        <button type="submit" class="btn btn-default btn-lg" style="margin-top: 10px;">保&nbsp;&nbsp;存</button>
        <input type="password" id="pwd" name="pwd" value="" style="display: none" />
    </div>
    <script>
            CKEDITOR.replace('editor', {
                'extraPlugins': 'codesnippet',
                'filebrowserImageUploadUrl': '/article/CKUploadImage/@Model.Id',
                'image_previewText': '',
            });

            document.forms[0].onsubmit = function () {
                var ele_pwd = document.getElementById('pwd');
                if (!ele_pwd.value) {
                    ele_pwd.style.display = 'inline-block';
                    return false;
                }
                return true;
            }
    </script>
</form>